<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="EntityFramework.CodeFirstStoreFunctions" version="1.2.0" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Core.en" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Data.en" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Data.Entity.en" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>