@using namasdev.Web.Helpers;
@using MyApp.Web.Portal.Controllers;
@using MyApp.Web.Portal.Metadata.Views;
@{
    ViewBag.Title = "Reset password";
}
<section id="loginForm">
    <div class="mt-3">
        @Html.AlertSuccess("Password reset successfully")
    </div>
    <p class="mt-3">
        <a href="@Url.Action(nameof(AccountController.Login), AccountController.NAME)">Login</a>
    </p>
</section>
