@using namasdev.Web.Helpers;
@{
    var userHelper = DependencyResolver.Current.GetService<UserHelper>();
}
@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav ml-auto d-none d-md-flex">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-user"></i>
                @userHelper.UserName
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto d-sm-none">
        <li class="nav-item">
            <a class="nav-link" href="~/account/login">Log In</a>
        </li>
    </ul>
}
