@using namasdev.Web.Helpers;
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h1 class="text-danger">Error</h1>
@Html.AlertDanger("An error occurred while processing your request")

