<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="namasdev.Core.en" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Data.en" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Data.Entity.en" version="1.0.0" targetFramework="net48" />
  <package id="namasdev.Net.en" version="1.0.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic" version="1.0.8" targetFramework="net48" />
</packages>